<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue2介绍</title>
</head>
<body>
  <div id="div1">
    <span v-if="isShow">
      isShow为true时候就显示内容
    </span>
  </div>
  <div id="div2">
    <div v-if="isShow">
      <table border="1" width="50%" style="text-align: center">
        <tr>
          <th>序号</th>
          <th>品牌</th>
          <th>价格</th>
          <th>颜色</th>
          <th>尺寸</th>
        </tr>
        <tr v-for="(item,index) in phone">
          <td>{{index+1}}</td>
          <td>{{item.name}}</td>
          <td>{{item.price}}元</td>
          <td>{{item.colour}}</td>
          <td>{{item.size}}英寸</td>
        </tr>
      </table>
    </div>
  </div>
  <script src="src/js/vue.min.js"></script>
  <script type="text/javascript">
    //isShow为true时候就显示当isShow为false时候不显示
    var div1=new Vue({
      el:"#div1",
      data:{
        isShow:true
      }
    })
    //v-for循环指令
    var div2=new Vue({
      el:"#div2",
      data:{
        isShow:true,
        phone:[{
          name:"小米8",
          price:1999,
          colour:"黑色",
          size:5.5
        },{
          name:"小米9",
          price:2999,
          colour:"幻蓝色",
          size:5.5
        },{
          name:"华为",
          price:1999,
          colour:"银白色",
          size:5.5
        },{
          name:"iphone 6s plus",
          price:1999,
          colour:"土豪金",
          size:5.5
        },{
          name:"iphone 7s plus",
          price:2999,
          colour:"白色",
          size:5.5
        },{
          name:"iphone 8s plus",
          price:4999,
          colour:"黑色",
          size:5.5
        }]
      }
    })
  </script>
</body>
</html>
